<h1><%= @user.name %>のページ</h1>
<p>
  <strong>Image:</strong>
  <% if @user.avatar_url %>
    <%= image_tag @user.avatar.url %>
  <% else %>
  <p>画像の登録はありません</p>
  <% end %>
</p>
<p>メールアドレス: <%= @user.email %></p>

<% if @user.id == current_user.id %>
  <%= link_to '編集', edit_user_path(@user.id) %>
<% end %>
<%= link_to 'みんなの投稿', posts_path %>
<%= link_to 'お気に入り投稿', favorite_post_user_path(@user.id) %>

